body {
  font-size: 20px;
  box-sizing: border-box;
  background: #2f3337;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}



.todo-main-block {
  background: #2a2e31;
}
